<h2><u>¿Qué son los Signals?</u></h2>

<section>
  <p>
    Los signals son envoltorios ("wrapper") de un valor que notifica al
    consumidor cuando su valor cambia. Parecido a la suscripción de los
    observables, podemos leer su valor llamando al signal de la siguiente forma:
    <code>count()</code>
  </p>
  <p>
    Los Signals pueden tener cualquier valor, desde primitivos a estructuras
    complejas (objetos, arrays...). Los signals pueden ser tanto de escritura
    como read-only.
  </p>

  <p>
    Count signal: => {{ count() }}
    <br />
    Computed => {{ doubleCount() }}
  </p>
</section>

<hr />

<section class="alert alert-primary">
  <h3>Writable signals</h3>

  <p>
    Para cambiar el valor podemos llamar al método <code>set()</code>, pasando
    el valor directamente,
    <code>count.set(3)</code>
  </p>

  <p>
    O usar el .update() para calcular el nuevo valor desde el valor previo
    <code> count.update(value => value + 1); </code>
  </p>
</section>

<hr />

<section class="alert alert-secondary">
  <h3>Computed signals</h3>

  <p>
    Los computed signals son cargados de forma perezosa (no se calculan hasta
    que son llamamos). Además su valor es cacheado, por lo que si volvemos a
    leerlo sin que su signal haya cambiado, devolverá el valor sin re-calcularlo
  </p>

  <p>
    Los computed signal son ideales para realizar cálculos pesados como filtrar
    arrays.
  </p>
</section>

<section class="alert alert-light">
  <h3>Effects</h3>

  <p>
    Signals are useful because they notify interested consumers when they
    change. An effect is an operation that runs whenever one or more signal
    values change. You can create an effect with the effect function
  </p>

  <p>
    Los Signals son útiles porque notifican a los consumidores cuando cambian.
    Un <code>effect</code>, es una operación que se ejecuta cuando las señales
    que tiene en su interior cambian de valor. Podemos crear un effect de la
    siguiente forma:
    <br />
    <code>
      effect(() => console.log ("Me ejecuto cada vez que este signal cambia: " +
      count()));
    </code>
  </p>

  <p>
    Los effects siempre se ejecutan como mínimo una vez, siempre de manera
    asíncrona, durante el proceso de detección de cambios.
  </p>

  <div class="alert alert-danger">
    <h4>Cuando NO usar effects</h4>
    <p>
      Evita usar efectos para la propagación de cambios de estado. Esto puede
      resultar en errores de
      <strong>ExpressionChangedAfterItHasBeenChecked</strong>, actualizaciones
      circulares infinitas o ciclos de detección de cambios innecesarios.
    </p>
    <p>
      Por defecto, no está permitido setear valores de signals en los effects
    </p>
    <p>Utiliza <u>computed signals</u> para esos casos.</p>
  </div>
</section>

<div>
  <button class="btn btn-primary" type="button" (click)="changeCount()">
    Cambiar contador
  </button>
</div>
