<h1>¿Qué novedades trae Angular 16?</h1>

<nav class="navbar navbar-expand-lg bg-light mb-4">
  <ul class="navbar-nav flex-row px-4">
    <li class="nav-item">
      <a
        aria-current="page"
        class="nav-link"
        routerLink="signals"
        routerLinkActive="active"
        >Signals</a
      >
    </li>
    <li class="nav-item">
      <a
        aria-current="page"
        class="nav-link"
        routerLink="router"
        routerLinkActive="active"
        [queryParams]="{
          name: 'Jose'
        }"
        >Router</a
      >
    </li>
    <li class="nav-item">
      <a
        aria-current="page"
        class="nav-link"
        routerLink="inputs"
        routerLinkActive="active"
        >&#64;Input()</a
      >
    </li>
  </ul>
</nav>

<router-outlet />
