<h1>¿Qué novedades trae Angular 15?</h1>

<section *ngIf="showSection">
  <h1>STANDALONE COMPONENTS</h1>
  <p>
    Los componentes <strong>standalone</strong> son una nueva característica en
    Angular que nos permite crear componentes reutilizables que se pueden usar
    sin la necesidad de añadirlo en la sección de
    <strong>Declarations</strong> en los NgModule. Esto puede hacer que su
    código sea más modular, eficiente y más fácil de compartir. Importando en
    cada componente únicamente los elementos que vamos a utilizar.
  </p>
</section>

<section>
  <h1>Nueva forma de declarar el enrutador</h1>
  <p>
    Debido a que no tenemos AppRoutingModule. Tenemos que cambiar la forma en la
    que se definian las rutas. Esta nueva forma es dentro del archivo
    <code>main.ts</code>, dentro de los <i>providers</i> tenemos que añadir un
    nuevo método llamado: <code>provideRouter</code> al cual le pasaremos
    nuestro objeto con las rutas de nuestra aplicación.
  </p>
</section>

<section>
  <h1>Optimiza la carga de imagenes con la nueva directica ngSrc</h1>
  <p>
    Simplemente deberemos sustituir el atributo <code>src</code> del elemento
    img, por <code>ngSrc</code>, y no olvidarnos de importar el módulo
    NgOptimizedImage en nuestro componente
  </p>
</section>

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro odio incidunt,
eligendi, fugiat similique rem eaque aspernatur aliquam placeat obcaecati alias
doloribus! Animi soluta harum totam a quisquam illum, explicabo qui at iusto
porro quos voluptatum veritatis ipsa quae quaerat hic suscipit similique,
possimus libero sit nihil tempora odit consequatur consequuntur. Soluta officia,
ipsum totam, accusamus sunt sed, illum voluptate iure molestiae porro beatae
vitae vel voluptatum fugit blanditiis ipsa. Neque quos quia sapiente
necessitatibus, voluptatibus reprehenderit pariatur aliquid voluptates eligendi,
distinctio, ullam rem veritatis assumenda porro commodi dolor ipsa dicta
laboriosam totam? Blanditiis quam distinctio, iusto minus ab eveniet nam
adipisci voluptatum mollitia? Voluptas consectetur, a vero possimus cumque illo
earum neque laboriosam. Cum laboriosam, velit magni soluta, laudantium corrupti
quam consequuntur fuga vitae voluptate facilis temporibus. Minima adipisci
veniam voluptate odit quibusdam, laboriosam perferendis repellat iure ratione
perspiciatis incidunt, id sed nostrum eveniet enim unde! Harum voluptas tempora
consectetur rerum excepturi, commodi illum quisquam tempore, aspernatur cum,
placeat repellendus veritatis aut assumenda voluptatibus vel exercitationem
laboriosam? Adipisci soluta eum accusamus illo aperiam esse sit, laudantium
quasi! Dolorem, quis praesentium? Culpa consectetur exercitationem laboriosam
amet eaque ipsa in. Necessitatibus, dolorem non aliquam quo nam minima
doloremque corrupti id consequatur vero, repellendus, quam vel consectetur
tenetur et modi delectus eveniet fugit dolore? Explicabo excepturi tempore
placeat iste dolor facere tempora nobis ipsum impedit quaerat dolore natus
repudiandae officia, laborum molestiae iusto sapiente eum delectus quis
laudantium et magnam optio. Est inventore ipsa dolores dolorum enim nisi dolor.
Rerum temporibus perspiciatis, vero ab totam laudantium eos dignissimos vitae!
Ullam, voluptatum beatae nulla sapiente assumenda totam quaerat earum numquam
soluta quo? Dignissimos nesciunt quas incidunt accusantium nemo consequuntur
temporibus rem quia excepturi reprehenderit, voluptate mollitia? Iure totam
magni odio optio soluta repellat eius nesciunt! Ipsa voluptas, iusto eos minima
minus impedit rem facilis officiis? Tempore magnam in quibusdam exercitationem
beatae eveniet numquam modi, ducimus dolor deleniti adipisci dolorum sapiente
explicabo magni amet porro eum dignissimos eius nulla laboriosam quia provident
deserunt libero tenetur? Voluptates ipsa earum minima consequatur assumenda,
iusto reiciendis debitis magni repellat. Ipsam vitae quos, praesentium totam
dicta molestias pariatur expedita quia quis. Autem vitae ipsa nobis. Incidunt
possimus sunt autem beatae reiciendis ipsam assumenda sint asperiores, illo
provident nesciunt delectus iusto necessitatibus laboriosam repellat inventore
maiores, quia aperiam minima? Unde recusandae quaerat atque necessitatibus eius
rerum officia dolor expedita nesciunt qui natus culpa, eum, neque ipsa veniam
placeat totam suscipit eaque autem laudantium magni perferendis doloribus minima
fuga? Aspernatur facilis est sunt accusamus eveniet provident nihil tempora.
Quod, beatae facilis doloribus sed iusto amet? Molestiae aut dignissimos vitae
dolorem beatae sunt est consectetur a vel minus. Quo numquam, maxime veritatis
fugiat omnis impedit iure officia necessitatibus nobis asperiores illum ipsa
aliquam rem, non deleniti, labore eos cupiditate! Eaque dolorem aliquid sint
itaque alias, ipsa quas autem libero? Pariatur nesciunt quisquam amet non, atque
sapiente recusandae qui eaque culpa. Ducimus esse in deserunt quisquam vitae
similique ut nisi. Reprehenderit eos similique dolores optio, iure fugit itaque
quia adipisci obcaecati id, quas voluptates mollitia nisi amet veniam! Nesciunt
consequuntur dignissimos vitae, in eaque ratione, repellat reprehenderit
corporis quis aspernatur sapiente! Tenetur exercitationem laboriosam ex dolorum
facilis repellendus reiciendis fugiat fugit, natus nulla quaerat id, officiis
deserunt alias. Voluptatum aperiam sequi veritatis ea quod enim aspernatur hic
aliquid dolorum. Commodi, minus eum sed error ea ipsum provident, dolorum in
dolores architecto odio. Qui, corrupti consequuntur debitis, in eum natus
voluptatum reiciendis quos neque consequatur porro ullam inventore libero a fuga
sunt corporis blanditiis hic repellendus fugit quod quibusdam eveniet assumenda
nam. Officiis animi eaque eos quisquam et nesciunt architecto consectetur
veritatis quam accusantium, nihil temporibus quae sequi cupiditate tempora
beatae, consequatur veniam non. Blanditiis repellendus cumque, facilis nisi eum
dolorem mollitia amet nulla vel nemo optio quis eligendi officiis quos
consequuntur commodi ratione recusandae dignissimos itaque molestias ex
voluptatibus aliquam laborum odio. Enim, consectetur! Maxime voluptate numquam
nam, quaerat tempore veniam cum amet praesentium nostrum nesciunt dolorum, eum
minus? Minima perferendis repudiandae veritatis odio officiis voluptatem
mollitia saepe aspernatur fuga eum quo consequatur quam perspiciatis, sunt
facilis sed est? Fugiat assumenda ex doloribus iure cumque fuga vero ratione
illo ad aliquam accusamus rerum nulla quisquam blanditiis delectus, architecto
culpa quis cupiditate eum omnis. Aut quod eum est tempora nihil in. Officia eos
at ab eligendi ipsum eveniet, harum cum placeat minima pariatur, unde mollitia
fuga ullam voluptas possimus magni laborum nesciunt! Quidem, commodi. Nobis
nostrum hic quisquam similique sequi saepe ratione dicta odio accusantium,
cumque possimus unde qui porro nam culpa explicabo nihil libero repellendus amet
ipsa aliquid perferendis? Sapiente ad modi sunt eius consectetur numquam
perspiciatis ipsum ut, dolorum animi ratione possimus eos incidunt a saepe
error, nostrum veritatis autem deleniti rerum unde corporis odio praesentium
exercitationem? Eveniet distinctio tenetur laudantium veniam velit ipsam! Veniam
ut fugiat porro molestiae numquam itaque libero blanditiis quod cumque illum
quidem, earum quas aspernatur doloremque? Autem rem iusto ducimus explicabo
ratione et quae perferendis ab fuga asperiores minus exercitationem, ipsa
accusamus praesentium possimus ex fugit aliquid sit laborum nisi esse adipisci
earum. Sapiente reiciendis velit fugit hic. Omnis ullam quidem nobis, voluptatum
amet veniam. Eaque officia facere temporibus libero nisi esse natus nobis, nihil
expedita voluptatibus obcaecati dicta molestiae, atque vero quibusdam mollitia
ea voluptatum. Ab fugiat impedit dolores cum veniam et distinctio error aliquam
cupiditate ratione laborum rem maiores voluptates sapiente id vero aspernatur,
nemo quas laboriosam! Iste ducimus laboriosam quibusdam assumenda modi
architecto delectus tempore? Soluta quas ad ab quo a eaque nam vitae autem
incidunt nulla asperiores cum accusamus suscipit error est, quaerat fugiat
voluptatem dolore magni harum perspiciatis quisquam beatae consequatur expedita?
Expedita quia suscipit, aliquid voluptatum dolorum aliquam ducimus, numquam qui
voluptatem minus asperiores! Eius porro ipsam consectetur corrupti nemo
adipisci, sed mollitia laudantium? Animi sequi repellendus consequatur enim
quasi harum atque, similique quo voluptatibus earum at fugit unde, ipsa id nulla
incidunt! Nemo laborum iste tenetur facere voluptatibus natus minus
reprehenderit, sequi eligendi facilis eum illo enim. Distinctio saepe mollitia
et facere ipsum nobis qui porro facilis quam, a alias error quaerat consectetur
obcaecati, atque vitae aliquid sint minima quae sit. Perferendis similique
molestias quaerat illum obcaecati, porro optio autem harum doloribus fugiat
adipisci quidem voluptates ipsum hic aspernatur rerum, quia incidunt! Autem nemo
quas tempora placeat? Vitae neque nemo quasi enim similique dicta laboriosam at,
vero consectetur velit. Doloribus quam qui nisi. Quia voluptate, reiciendis
molestiae saepe illum laborum enim ullam voluptatibus facilis nemo illo
aspernatur possimus. Nam, quaerat sapiente. Suscipit tempora accusantium
delectus voluptate quae maiores voluptates soluta in? Necessitatibus numquam ea
repudiandae dolore illo doloribus hic optio nesciunt, eligendi laborum, dolorum
deleniti quam magni qui ab ullam magnam! Aut dolorem, ut nulla magnam sapiente
aspernatur asperiores veniam a nesciunt repellendus impedit eligendi suscipit
laborum neque architecto veritatis repellat nisi quo dolor quisquam temporibus
similique! Atque repellendus libero, veniam animi doloribus perferendis ad earum
consequatur obcaecati autem assumenda. Ducimus, voluptates nam. Odit cupiditate
totam a sapiente nobis consequatur, hic repellendus assumenda consequuntur id
alias ipsa provident similique vero rem cumque ducimus! Autem, labore expedita
accusamus perspiciatis explicabo voluptatum vitae exercitationem assumenda.
Molestiae distinctio exercitationem saepe nam ex excepturi maxime voluptatum
eius quod, vitae perspiciatis non! Assumenda alias necessitatibus fugiat rem
illo consequatur minus perspiciatis excepturi distinctio dicta cupiditate iste,
at minima, quisquam reprehenderit harum maiores nobis. Voluptatem fugit dolorem
facilis cupiditate ipsum officia adipisci, et sapiente nemo earum vero dolore
delectus repellat perferendis tempora, vel aliquam doloremque quam quod porro
non ullam? Corporis ipsa veniam quos quasi molestias accusantium asperiores
nihil perspiciatis facilis, saepe aperiam. Sed eius et voluptates, doloremque
quam, non similique sapiente neque illum officia consectetur natus qui odio esse
blanditiis ex soluta. Sint sed expedita odit incidunt tempora similique veniam,
exercitationem nobis minus quam reprehenderit officiis atque voluptatum! Saepe
facilis magnam suscipit cumque ullam omnis perferendis quibusdam blanditiis,
natus deleniti odio, ut eius possimus. Esse quaerat placeat inventore aperiam
odit nisi non minus accusamus, quidem ex quae aspernatur quo veritatis
blanditiis eaque voluptates, velit nobis, doloremque consequuntur vel tempora
maxime harum neque. Voluptate, at ab. Porro consectetur iste odio nobis vel,
nihil odit numquam quae! Debitis asperiores quaerat quisquam quidem. Officia
error quos, animi soluta repellendus delectus, itaque rerum sit voluptas culpa
quae quia maiores. Inventore porro in unde dolorum reprehenderit dicta quaerat
possimus doloribus voluptates molestias atque similique ut non, tempora et earum
dolorem, pariatur optio asperiores deleniti sequi ea. Eum deserunt ut laboriosam
id eaque! Nesciunt quae necessitatibus praesentium aliquam molestias eum,
eligendi fugiat voluptatibus neque repellendus inventore ea magnam libero
deserunt velit id, sint placeat accusamus magni in atque. Voluptatibus fugiat,
architecto perferendis nihil repellendus dolorem. Deserunt nulla ea quia vitae
nobis quo beatae, excepturi itaque officia, saepe reprehenderit possimus tempora
autem atque reiciendis tempore cupiditate maxime sequi. Porro commodi nemo
eveniet harum iste consequatur, alias neque minus eaque earum ipsa expedita
fugit et ea molestiae explicabo maiores animi nesciunt quasi amet sed natus
cupiditate! Deserunt sit dolores a laudantium expedita nemo iure nostrum dolor
molestiae nam hic architecto dolorem, eligendi sint sapiente, quasi, aut impedit
soluta fuga facilis. Error, illo, dolore asperiores illum temporibus ducimus
assumenda recusandae neque repellendus libero blanditiis. Animi pariatur
assumenda quos sint sunt nobis dicta praesentium, at, quam placeat
necessitatibus impedit enim officiis doloribus maiores nisi velit voluptatem
obcaecati excepturi, unde optio cum ducimus. Suscipit velit maxime veritatis
exercitationem beatae earum? Similique iusto rerum quia, unde facilis nisi
repellat dolor impedit fugiat quidem, iure ratione fuga. Fugit odit vitae
voluptate, aliquam perferendis reprehenderit, mollitia vel odio pariatur
similique nobis, sapiente repellendus qui est! Est, ea ipsa, quis maiores
praesentium aliquid minima et minus deserunt exercitationem cupiditate molestias
esse maxime quae perferendis alias ut amet ex sapiente voluptates enim
voluptatibus nobis. Ad nihil assumenda officiis nemo quasi sunt omnis,
asperiores, veniam voluptatum obcaecati quas dolore tempora explicabo quod vitae
dolorum excepturi recusandae ipsa cum quisquam sequi! Modi excepturi minus fugit
omnis nobis aperiam tempora magni a quidem explicabo similique corporis deserunt
inventore sunt ducimus, eum nesciunt placeat veniam molestiae rem laudantium
sequi tenetur vitae. Saepe ea reiciendis cumque ratione sunt a facere placeat
blanditiis numquam quas, harum praesentium. Aperiam sunt excepturi soluta
praesentium, maiores omnis iusto! Atque id quisquam aliquid sint sequi unde
praesentium laborum rem. Velit ea autem repudiandae earum voluptate laborum cum
minima reiciendis eius fugit molestiae nihil, in commodi assumenda eligendi
vitae voluptatibus, facilis maxime dicta et! Eligendi doloribus recusandae a est
vel quos temporibus cupiditate ab voluptas excepturi maiores accusantium placeat
architecto, modi ea porro repudiandae laborum delectus neque provident sunt
eveniet fugit quia. Nulla fugit, aliquid facere voluptates excepturi sunt
aliquam in consequuntur asperiores. Temporibus, accusamus sint omnis quam at
sequi? Quaerat pariatur nemo incidunt, ad alias deleniti harum mollitia
quibusdam, accusamus saepe veritatis similique reiciendis. Nobis atque vel, iste
debitis odit animi temporibus fuga sint molestias ad ex error magnam quibusdam
laboriosam voluptas impedit veritatis magni tempora eligendi placeat iure ut.
Recusandae repudiandae repellat omnis provident tempore dolorum ipsam
dignissimos mollitia rem, ex possimus, eaque ducimus architecto, excepturi
soluta aliquam? Distinctio, impedit. Recusandae tempore iste, praesentium odio
suscipit fugit necessitatibus incidunt doloribus quaerat cupiditate id quas
sapiente iusto minima, nostrum quia asperiores laboriosam labore rem. Eos
officiis repellat quos recusandae obcaecati quisquam dignissimos odit rerum
ullam assumenda sunt sequi debitis, vero ad omnis fuga, doloremque dolorem
accusantium minus quae sapiente iusto animi? Ipsa accusamus sunt error,
perspiciatis asperiores fugit impedit! Sequi doloribus dolorem quam voluptatibus
velit, nulla, ut autem minima ex perspiciatis aliquam excepturi facilis omnis
architecto totam, numquam tempore? Non debitis excepturi exercitationem rem
maiores consequuntur unde culpa. Quo et provident minus explicabo hic
praesentium, delectus recusandae quas nemo illum corporis, neque ipsa mollitia.
Dolorum distinctio molestiae natus vel. Necessitatibus aliquid nostrum veniam
exercitationem minima voluptas nihil doloribus perferendis hic! Impedit
voluptatibus dolore voluptates quaerat sapiente pariatur odio aliquid dolorem
quo ducimus? Necessitatibus praesentium commodi harum nostrum, quod in!
Expedita, voluptatem dolore? Molestiae soluta blanditiis, autem dicta quisquam
ex eveniet quidem doloremque officia libero commodi odit veniam animi harum
dolores laboriosam tempora ratione cupiditate optio labore assumenda! Placeat
aliquid consectetur soluta porro consequuntur nesciunt numquam harum sed
voluptatibus quisquam suscipit dolores architecto voluptatum similique quibusdam
praesentium inventore odio itaque distinctio earum voluptate, laudantium
repellat quo. Totam dolores ipsum amet et officia vel quo libero deserunt iusto,
iure quisquam minus! Praesentium tempora nam voluptatibus officiis veniam amet.
Debitis atque veritatis praesentium recusandae voluptate magnam voluptatum,
nobis possimus? Reprehenderit repellendus iste laboriosam voluptatum repellat
dolores excepturi, aliquam ea doloribus id eum cum quod voluptatem, libero porro
quo nesciunt, explicabo adipisci eligendi et. Nostrum quos animi adipisci,
dolore eveniet eius. Numquam, incidunt? Labore odit nulla perferendis eius dicta
suscipit, dolores iure illo, dolore voluptatum itaque. Repellendus dicta labore,
inventore nostrum ab atque tempora dolorem obcaecati mollitia nihil praesentium
expedita neque eum possimus exercitationem molestiae laborum. Ab excepturi
quidem nam assumenda iure modi aliquid pariatur alias maiores asperiores,
suscipit qui adipisci est, repellendus quo nesciunt laborum sapiente ut
inventore sequi repudiandae vitae sed eos. Fugit quasi asperiores quibusdam
cumque illum quidem inventore nihil maxime eos necessitatibus. Assumenda qui,
labore ullam ab saepe ea fugit aut iusto placeat officiis unde ipsum, explicabo
odit earum tempore quidem vel? At perspiciatis ipsam eveniet quibusdam molestias
amet temporibus maiores, provident illum eos? Provident omnis accusantium enim
quam, possimus distinctio aliquam culpa similique unde repellendus architecto
sapiente modi eveniet nobis at saepe magnam exercitationem. Incidunt sit nulla
cupiditate quasi exercitationem aut iste labore enim necessitatibus omnis. Enim,
ex? Ut iste dicta mollitia aperiam, voluptates explicabo fugit adipisci ullam
temporibus alias? Necessitatibus id assumenda asperiores deserunt voluptas sit
voluptates. Rerum similique ducimus, veniam tempore eum, dolore consequatur,
quis nobis accusamus temporibus dolorum impedit soluta sed voluptatem mollitia
possimus architecto placeat hic itaque. Ad temporibus atque odit iure
perferendis, omnis nam distinctio illum fuga velit praesentium accusamus autem
ab in nemo sequi excepturi harum laboriosam voluptas beatae eos asperiores
expedita commodi cum. Deleniti autem eius reiciendis neque numquam corrupti
libero accusamus adipisci vel alias accusantium magnam aliquam delectus
inventore architecto praesentium sunt tempora, velit nobis distinctio ratione
obcaecati? Cumque in quod quia blanditiis facilis aspernatur iusto, voluptas, ad
harum quam deleniti est adipisci natus sint! Neque ex delectus recusandae optio
possimus laborum itaque ratione, ab similique commodi quae obcaecati. Odio quos
delectus cumque, ad nemo eligendi fugiat reprehenderit dolor tenetur! Sequi
aperiam commodi nisi repellat explicabo fuga ullam laboriosam, odio ut similique
excepturi est dolores, culpa enim mollitia illum libero nobis temporibus officia
voluptatum, recusandae perferendis officiis? Veritatis non omnis quisquam alias
beatae veniam eaque aliquam odio, iste quas consequuntur qui deserunt aspernatur
rerum perferendis voluptas id, praesentium unde voluptate! Facere sequi debitis
voluptates, asperiores dicta reprehenderit est consequuntur nostrum dolores
provident soluta nemo error, accusantium laudantium, omnis explicabo. Corrupti
ipsa odit enim laborum rem aliquam nemo modi deleniti, corporis facere? Dolore
et quaerat aut, consequatur tempore blanditiis. Quia harum soluta corporis
voluptate, praesentium tenetur et sed adipisci totam sint nam, perferendis
aperiam pariatur. Libero ipsum nemo animi tempore repellendus ratione ducimus!
Nostrum repellendus, magnam id delectus eligendi magni illo facere iusto tempora
dignissimos quasi non quibusdam excepturi? Dolorum, ut eligendi, error harum id
consequuntur voluptatibus facere repellendus eveniet libero, ea nulla fugiat
necessitatibus temporibus reiciendis dolorem delectus magni veniam ullam commodi
at quasi ipsa. Dolor, ab tempore! Vel porro alias aut dolorem, nihil facilis
similique, blanditiis ratione pariatur ab sapiente delectus? Officiis, error
laboriosam nihil dolore odio nulla nostrum quos architecto nobis minima
recusandae fugiat tenetur nam dolores culpa illo necessitatibus magnam
molestiae. Quaerat ut fugit et rerum. Rerum nisi amet officia dolorum repellat
dolor magni! Quaerat, consequatur error qui illo vel atque ut molestias
laboriosam quis magnam exercitationem facilis, veritatis dicta hic fugit
dolorum. Tempore corrupti reiciendis libero nostrum doloribus velit veniam
voluptas, voluptatem repudiandae ad totam maxime porro ipsam hic, aspernatur
dolores tempora veritatis vel dolorum ducimus maiores atque nemo enim magni!
Ipsam ex voluptatem numquam iste nemo sed quam natus hic quidem, porro,
consequatur, maiores excepturi nisi cum accusamus dolor. Ea eligendi numquam
impedit tenetur sed, velit optio fugiat quasi dolorum minima qui vel dolorem
voluptate. Quisquam accusantium qui, similique debitis facilis optio possimus
error? Amet consequatur, dolores voluptatum nisi facere vitae eum itaque ipsum,
provident earum quod sunt harum ullam? Ducimus necessitatibus dolore sequi.
Sapiente, esse facere aspernatur inventore expedita explicabo provident
praesentium! Id eaque voluptas pariatur laborum harum accusamus ea iure error
nihil assumenda! Explicabo numquam consectetur temporibus, ipsam ipsum suscipit
architecto fuga, placeat incidunt natus exercitationem sequi odit dolores iure
eum officiis repellat ullam id esse non enim animi adipisci. Et, ipsum
temporibus nulla quidem magni voluptates atque adipisci omnis, culpa quas
veniam! Dolor quia id doloremque fugit magnam cum voluptatem ullam asperiores?
Dolore excepturi unde illum voluptatum natus quis quas quia facere voluptas
autem aliquid, dolorum earum rem, ratione consequuntur, optio aut? Earum ducimus
recusandae facere autem voluptate repellendus! Voluptatum minima provident,
voluptas exercitationem neque, aspernatur corporis ea facilis aliquam sint
assumenda consequatur cum eius reiciendis facere nisi maiores pariatur nemo
adipisci? Illo velit iste facilis doloribus recusandae, facere voluptates culpa
in debitis assumenda, animi ipsa amet pariatur. Quos illum dolorum quibusdam
amet odio alias necessitatibus, cum quam reiciendis pariatur excepturi, officia
minus qui ducimus. Porro tenetur nihil quos neque reiciendis ad. Dolores, id in
amet nesciunt earum recusandae eligendi perspiciatis provident cum qui tempora,
odio, repudiandae fuga magnam ipsa accusantium eaque incidunt laborum assumenda?
Quas consequatur expedita debitis fugit sed pariatur adipisci voluptas,
inventore, aspernatur esse quam qui explicabo rem officia molestias, ullam
accusantium ea quaerat nam quasi? Dolorum deserunt quaerat, laudantium porro
reiciendis enim! Ducimus dolores distinctio, sit non optio accusamus quasi
aspernatur eos magni nam inventore reprehenderit eaque quam reiciendis impedit
earum. Atque unde obcaecati repellat ut nostrum eligendi maiores, maxime
deserunt similique aliquid quas quod, numquam, inventore culpa illo? Tempore
harum nulla enim deleniti, magni itaque aliquam quae! Inventore nihil minima
iure atque praesentium ad ut, quaerat, dolores quae fugiat cum modi nostrum.
Explicabo illo fugiat consectetur velit minima deserunt dolores ratione
repellendus temporibus ea repudiandae, asperiores adipisci eaque sequi
voluptates nulla neque quasi blanditiis quisquam eius sunt pariatur impedit
voluptatem accusamus. Excepturi, a porro, nobis possimus nesciunt quae
reiciendis ducimus nulla animi atque dignissimos, voluptas velit maiores fugit
deleniti magni aut ad ullam dolore quod. Atque quidem veritatis incidunt quam
nulla dicta unde quos dolorem porro soluta voluptas nesciunt, molestias eius cum
eligendi esse. Quo, veniam quos. Reprehenderit pariatur debitis quas! Id
sapiente voluptatibus fugiat inventore facere ipsam culpa obcaecati aliquid aut
veritatis, modi eligendi minus eius corporis libero delectus. Dicta ut eos quas
repellat at, corporis assumenda quaerat? Porro, ipsam eum omnis nam eius a illum
quis. Fugiat, laborum? Quas sint nemo, est omnis praesentium, enim libero
incidunt quis, expedita voluptatum illo aspernatur iure sequi ab aliquam qui
nesciunt repudiandae deleniti aliquid! Nostrum minus debitis praesentium ea
voluptas, ducimus sit animi quam reprehenderit dignissimos laboriosam? Nostrum
ipsum illo, fugiat nihil tenetur mollitia labore officiis, qui quidem tempora
rerum. Explicabo ab harum illum ratione dignissimos veritatis, iusto dolor esse
cum sequi, nam delectus rerum quis enim fugit! Quod nihil sunt explicabo
architecto a veniam modi quisquam delectus vero voluptatem, excepturi nemo
voluptatum nobis eveniet eaque cumque facilis quidem ipsam. Mollitia facilis qui
maxime quia rerum numquam non quas saepe architecto, iusto ut ullam corrupti
suscipit exercitationem explicabo ipsa assumenda quasi dolorum incidunt, error
repudiandae reprehenderit, accusantium voluptatibus voluptas. Doloribus rerum
iste inventore quibusdam quia mollitia numquam soluta, placeat est nisi. Quos
odit temporibus, sint incidunt totam perspiciatis exercitationem ipsam ipsa
dignissimos natus. Modi, similique esse! Beatae rem officiis, quo saepe atque
deleniti pariatur voluptatem, sit debitis voluptas iusto aliquid dolore deserunt
placeat delectus, molestiae mollitia! Beatae laudantium fugiat officia sint in.
Dolorum velit itaque placeat obcaecati eius, voluptatem, quae veritatis error
rerum tenetur, odit impedit. Cumque sapiente saepe ad laborum! Quas earum
doloribus ab voluptatem fugiat dolor similique unde alias expedita adipisci
corporis amet asperiores commodi quia laboriosam impedit nam vero natus quod
animi, iure consequuntur aliquam? Temporibus architecto sunt rem quasi ipsam eos
unde, sequi asperiores dolores doloremque, illo rerum voluptatibus neque
placeat, voluptatum quaerat officia saepe assumenda? Eveniet voluptatibus saepe
esse, asperiores rerum quidem et harum quam culpa suscipit, minima maxime est
pariatur? Reprehenderit accusantium nemo dolores explicabo illum laudantium
itaque at fuga. Dolore facilis voluptates tempora eaque dignissimos optio, ab
itaque, in praesentium ea adipisci omnis quae sunt qui natus alias neque magni
quia nulla totam accusamus placeat. Cupiditate temporibus possimus sapiente
quisquam perferendis iste nesciunt perspiciatis. Impedit voluptatum libero
facilis corporis sint vitae necessitatibus illo harum labore quis obcaecati ab
aliquid quo esse neque architecto, nihil alias deleniti eum fugit asperiores.
Eligendi quas vero a nemo provident consequuntur nam magni dolorum nihil itaque
maxime, at, enim laudantium? Dolores numquam ab quod nobis reprehenderit beatae
excepturi qui, similique id ipsum dignissimos ad! Cupiditate voluptates est
magnam perferendis nesciunt doloribus dignissimos ipsa a dolores non hic sunt
molestiae praesentium totam assumenda id recusandae veritatis nihil corrupti
saepe, nostrum iure! Tempora dolor, tenetur mollitia iste eum voluptates eveniet
temporibus veritatis doloribus commodi consequuntur ducimus tempore sed neque
pariatur, asperiores molestias inventore quas facere fuga facilis beatae.
Excepturi illo tenetur commodi provident similique! Omnis est, autem eum porro
commodi voluptatem nam consequuntur non tempore nobis quibusdam corporis,
praesentium tempora. Tempore dicta rem quia facere alias! Assumenda modi
consequatur, voluptates perferendis repudiandae, vel molestiae aperiam,
accusantium eum quos praesentium placeat. Odit dolore facilis enim consequatur
inventore expedita maxime non. Pariatur cupiditate porro deserunt, cumque
repellat hic tempora omnis quaerat magni saepe voluptatum itaque natus ea enim
eos eius? Aspernatur, dignissimos accusamus. Fuga labore repudiandae iusto
perspiciatis itaque natus, ducimus tempore laborum, error corporis totam!
Ratione qui architecto id repellendus corporis minima eveniet iusto impedit
ipsam necessitatibus. Esse unde ut blanditiis amet iusto nesciunt vitae placeat
rem reprehenderit totam alias illum dolor dolores quam cum facilis nemo at in
porro voluptatibus, minima consequatur pariatur quidem sit? Culpa non suscipit
provident est odio pariatur optio dolorem corporis cumque in quia porro
laudantium, sed veniam officia enim quo illum. Harum fugiat quae consequuntur
asperiores impedit dignissimos eligendi, facilis doloremque reiciendis
exercitationem modi veniam dolore atque laboriosam fuga? Distinctio delectus
sunt repudiandae ipsum quas molestias quaerat, aliquid aspernatur nemo eligendi.
Harum repellendus velit ipsa nesciunt ab, iste maxime atque assumenda aliquid,
sint vitae explicabo pariatur repudiandae nisi blanditiis culpa qui quo,
suscipit quidem dolorem tempore. Quis esse voluptatibus, itaque et repellat
doloribus laboriosam porro quisquam quae libero magnam consequuntur cumque
mollitia deleniti vero ab, odio accusamus eligendi! Iste reprehenderit nesciunt
nemo omnis molestias aliquam voluptate enim odit, dolor amet expedita tenetur
possimus minima at repudiandae perspiciatis nulla repellat excepturi.
Consectetur modi voluptatibus, sunt doloremque dolorum vero eos fugiat. Unde
soluta, necessitatibus ipsam sint ullam rerum mollitia ducimus, aspernatur ab
architecto officiis et atque. Natus saepe itaque obcaecati omnis quod tempora
repudiandae aut dolorum, earum a perferendis, amet assumenda similique alias
ratione! Esse, fuga. Eum suscipit, deleniti fugiat in veniam, impedit aspernatur
ullam praesentium non architecto voluptate amet nesciunt itaque maxime
distinctio vitae aliquid officiis consectetur enim hic exercitationem at quis.
Accusamus magni sunt exercitationem eos molestiae nesciunt excepturi illum
aliquid earum vitae, sequi sint in vero quo incidunt consequuntur porro.
Cupiditate ab nemo facilis autem ratione perferendis numquam, amet rem voluptas
voluptatem maxime, voluptatibus eum! Voluptatibus sed, quidem praesentium
doloribus quas ab. Explicabo, saepe. Aspernatur, saepe optio. Repellendus
adipisci error ab blanditiis aliquam consectetur illo non minima modi quae
cumque architecto ullam placeat incidunt dolore, esse voluptate doloribus.
Porro, accusamus? Nihil, repellendus animi! Dolores voluptatum obcaecati
reiciendis consequuntur ullam voluptas omnis dignissimos similique debitis
placeat a accusantium dolorem, ab sequi natus iste maxime quas autem aliquam
magnam sunt eligendi! Voluptate, culpa ex mollitia eum tempore unde iste aut
facilis voluptas expedita facere. Saepe tempora hic quaerat, doloribus fuga vel
similique nemo quasi distinctio iure nam? Explicabo repellat alias nemo itaque
ullam optio vero voluptatibus. Culpa dolorem nam quam, ex reiciendis quasi
officia assumenda repellat in perferendis tempora dolor ipsam illum, excepturi
aliquid adipisci beatae, ipsa suscipit facilis expedita neque harum quos.
Numquam, voluptatem. Neque quidem atque ea repellat tenetur, voluptatum soluta
sunt illum ipsam sapiente velit, debitis unde alias accusantium ipsa quod in?
Amet accusamus quas cum corrupti quam veniam assumenda ex dolore perspiciatis
nihil velit recusandae numquam est sit aperiam, quisquam in temporibus? Sunt
repellendus qui vitae odio, exercitationem ab quisquam aspernatur consectetur
placeat porro accusantium nostrum autem voluptas quam non explicabo dolorem
deserunt magni voluptate temporibus inventore architecto quis ad. Distinctio
veritatis, molestiae, amet a dolorem aut sit dignissimos sapiente fuga tempora,
dolorum itaque! Magni maiores fuga deserunt blanditiis odio natus earum repellat
sapiente doloremque quidem, quasi aspernatur alias? Rem velit labore architecto
magni aperiam, ratione dolores possimus tempora, nam nostrum reiciendis?
Quisquam eligendi eaque, accusantium repellendus adipisci odio maxime eius,
tenetur modi blanditiis ipsum repudiandae labore a necessitatibus impedit.
Deleniti dolores quibusdam inventore qui omnis fugit, consequatur architecto ut
odio eligendi aut perferendis earum maiores adipisci suscipit ullam esse maxime
error aliquid sunt iure est. Tenetur nemo possimus vero eius assumenda corporis
esse? Illum saepe non, ratione laboriosam accusantium, deleniti architecto
recusandae quod inventore nisi, totam voluptas eius sit in odio quos nihil.
Rerum tempore voluptatem delectus nam. A tenetur, temporibus molestias officia
dolorum harum id ullam impedit vero voluptas, omnis, nisi fugit. Possimus,
praesentium nostrum! Dignissimos impedit reiciendis accusantium eveniet mollitia
distinctio facere aspernatur eius dolores deleniti vel adipisci aperiam in
excepturi fugit, qui ullam quis cum quaerat rerum eligendi laborum officia.
Quibusdam laudantium, accusamus quia nemo corrupti commodi tempora
exercitationem magnam aut unde voluptatem sint velit laborum. Totam quis iste
laudantium? Itaque dolorem ipsum ipsam labore? Similique quas nemo totam
quibusdam odio, omnis iste cumque consequuntur vero? Reiciendis quia,
praesentium hic quam molestiae natus saepe dolor tenetur suscipit expedita nisi
nostrum magnam dignissimos? Consequatur perspiciatis soluta id fugiat modi
doloribus consectetur natus eveniet doloremque similique molestiae corrupti
veniam officia, quas minima? Totam velit praesentium soluta cupiditate
architecto laudantium adipisci veniam non tempore voluptatum libero hic esse
eaque quaerat illum error ab ullam, fugiat dolorem ipsum nisi dolorum nihil
placeat? Ad sapiente deleniti laborum voluptatum commodi vero sunt accusantium
ab quasi suscipit quas, accusamus aliquam libero voluptatibus nemo deserunt qui
odit? Saepe architecto eius omnis, maxime repellat cupiditate quod fuga optio
sit nemo nulla veniam totam id? Minima dolore, ab itaque consequuntur autem
aspernatur asperiores molestiae vel quasi inventore ex iure rem nostrum
consectetur culpa, eum rerum nesciunt nam ipsum modi voluptas repudiandae
maiores dicta! Dicta corrupti cumque, numquam beatae voluptatum nam modi ipsam
ipsa excepturi autem unde aliquam odio aperiam fugiat officia reiciendis ducimus
accusamus alias itaque quae nostrum eius dolorem? Nostrum at, eveniet ea eius
iste vel quisquam voluptatem hic maiores ad voluptatum, explicabo possimus
consequatur, corporis fuga nemo laboriosam ipsam. Rem officiis laudantium
quaerat fugiat, minus qui esse enim repudiandae? Similique dicta, ullam a
sapiente blanditiis eum quaerat sunt natus voluptate, minima adipisci laboriosam
quod molestiae amet doloremque labore. Ducimus, dolorem nemo, odio quaerat
laborum eum porro, non voluptatibus est veritatis ipsam facilis odit sint
adipisci illum aliquid minima eaque voluptatem. Aspernatur est nostrum nulla
perspiciatis ducimus, non ex voluptas optio aperiam quis animi vitae et nesciunt
magnam? Nostrum non qui nesciunt ipsum, atque consequuntur in repellendus quis
iusto sapiente molestiae, delectus laboriosam molestias blanditiis enim
doloremque explicabo expedita error soluta aliquid. Hic ipsa accusantium eaque
accusamus modi dolore, reprehenderit neque reiciendis placeat, ullam officia
facere ut quidem voluptas provident dolorem fuga vero qui quae quod. Rerum
dignissimos, alias, aut eveniet repudiandae laboriosam facere quis, quibusdam
fuga suscipit iusto fugit ut. Amet voluptatibus ratione asperiores adipisci!
Explicabo incidunt autem minima. Officia necessitatibus explicabo dolorum ipsam
saepe distinctio nobis, dolore alias quis maiores excepturi autem doloremque
dolorem, quibusdam magni pariatur dicta placeat veniam odit aperiam cum at nam
similique. Deserunt similique id velit architecto dicta eaque maiores, libero
quae rem! Voluptas cumque nam obcaecati fuga quod quas, pariatur repellat enim
ipsum, dolorum deleniti quae! Nisi sunt alias rem mollitia maxime rerum in
reprehenderit temporibus natus. Provident fugiat, ex recusandae placeat delectus
minima tempora officia voluptatum. Similique eveniet facilis labore odio
officiis voluptates id perferendis quae. Excepturi doloremque sed eligendi nulla
rerum dolor dolores error. Minus voluptas magni ad a nam illum, porro autem
tenetur hic eaque asperiores expedita facilis. Recusandae consequatur iusto
earum alias voluptates dicta, delectus architecto facere in ducimus reiciendis
laborum modi est at inventore nulla quasi? Ab harum nam molestias doloremque
quia nulla. Labore qui tempora sequi fugit sed cupiditate eligendi alias id
maiores ipsa neque itaque expedita hic omnis totam facere ipsum ipsam,
asperiores est velit enim consequatur. Nostrum dicta reiciendis tempora
voluptatum iure? Consectetur, possimus voluptatum dignissimos minus, temporibus
voluptates sint doloremque maxime nihil eius veniam? Quaerat saepe nostrum
molestias, odit cumque nulla atque, ipsum ex sed autem perferendis nesciunt hic
adipisci perspiciatis, esse illum. Necessitatibus, ipsam repellendus. Optio
fugit sapiente impedit exercitationem recusandae itaque veniam, nam sed modi
nulla vel fuga nemo obcaecati, voluptate cumque in iste ullam voluptatem
dolores. Molestiae expedita eaque blanditiis voluptatem sint commodi
perspiciatis unde neque recusandae ad optio molestias, reprehenderit, nam rem ea
vero consectetur corporis eveniet beatae numquam quas libero at. Amet non quidem
a perferendis magni obcaecati, odit vitae aliquam fuga id laboriosam optio
voluptas dolorem unde earum quam. Nisi rem dolore illo eius dolorem temporibus
dignissimos, beatae, repudiandae minima suscipit in nam placeat praesentium
ratione laudantium facilis dolorum nulla nobis cum inventore, perferendis
impedit. Amet nulla, excepturi eligendi dolor illo earum deserunt eos sunt,
temporibus soluta delectus. Quos neque perspiciatis ullam sunt nisi iste ab
officia, molestiae praesentium ad, aliquid atque quis ipsam pariatur explicabo
iure sed temporibus eius dignissimos tempora? Excepturi, quod assumenda veniam,
culpa nesciunt itaque reprehenderit saepe optio suscipit porro beatae corrupti
ducimus architecto omnis exercitationem, et eligendi blanditiis tempora facilis
sed magnam sint. Vitae enim ducimus, deleniti error harum, incidunt culpa
placeat quasi illum aliquam possimus ipsam debitis nihil ab excepturi, quaerat
veritatis labore maxime. Doloremque beatae praesentium unde iusto facilis
accusamus ex corrupti tempore eaque officiis perferendis repellendus magni
quisquam nostrum ipsam odio cum dolorem, nisi ipsa voluptas maiores sapiente
consequatur quam. Deleniti alias quasi maxime! Earum, corporis pariatur dolore
molestiae animi modi. Esse cum, voluptas fugit quia aliquid obcaecati nostrum
eligendi, fugiat dolorem at ullam sunt expedita architecto dicta, laborum non
suscipit in ipsum iure minus! Vel, cupiditate commodi quia accusamus dolore vero
eos nihil.

<img ngSrc="./../../../assets/angular.jpg" alt="" width="750" height="422" />
